@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
/* Переменные */
:root {
    --body-color: #19161B;
    --vanbtn-color: #FFC492;
    --btnback-color: #FFB577;
    --btn-color-text: #2E2D33;
    --title-color: #FFFFFF;
    --link__nav-color: #FFFFFF;
    --subtitle-color: #B8B8B8;
    --card-color: #1F1D21;
    --name-color: #FFB577;

    /* ========= */

    --header-width-image: 622px;
    --header-height-image: 683px;

    /* Font */
    --font-quote: 'Gilroy-Bold', sans-serif;
    --font-bold: 500;
}


/*  */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html,
body {
    height: 100%;
    background-color: var(--body-color);
    line-height: 1;
    font-size: 16px;
}



/* NAVBAR ============== */
.wrapper {}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: none;
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;


}


.navbar__menu {
    display: flex;
    column-gap: 40px;
    flex-wrap: wrap;
}

.navbar__list a {
    line-height: 150%;
    text-transform: capitalize;

    display: inline-block;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



.navbar__link {
    line-height: 150%;
    display: inline-block;
    color: var(--btnback-color);
    background: url("./../image/nav/Arrow\ 6.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 2rem;

}

/* =============== */

/* Headar =============== */
.header {}

.header__body {
    margin-top: 96px;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 32px;

}

.header__desc {
    width: 624px;

}

.header__title {}

.title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 121%;

    color: var(--title-color);

    opacity: 0.87;
}

.header__text {}

.text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 175%;

    color: var(--subtitle-color);
}

.header__btn {}

.general-button a {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;

    color: var(--btn-color-text);
    background: url("./../image/header/arrow/Arrow.svg");
    background-color: var(--btnback-color);
    background-repeat: no-repeat;
    background-position: 119px center;
    padding: 12px 70px 12px 24px;
}

.header__infos {}

.header__title {
    margin-bottom: 1rem;
}

.header__text {
    margin-bottom: 2rem;

}

.header__btn {
    margin-bottom: 2.5em;
}

.header__infos--title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 150%;

    color: var(--title-color);
}

.header__infos-location {
    margin: 16px 0px;
}

.header__infos--text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 175%;
    color: var(--title-color);

    opacity: 0.6;
}

.header__image {
    height: var(--header-height-image);
    width: var(--header-width-image);
    /* /* object-fit: cover; */
}

.header__image img {
    width: 100%;
}

/* =============== */
/* features */

.know-more__body {
    margin: 160px 0px;
}

.know-more__row {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
}

.know-more__col__block-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.know-more__desc {
    max-width: 631px;
}

.general-name {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 24px;
}

.name p {

    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;

    color: var(--name-color);
}

.line {
    width: 48px;
    height: 0px;


    border: 1px solid #FFFFFF;
}

.name {}

.know-more__title {
    margin-bottom: 32px;
}

.title {}

.know-more__text {
    margin-bottom: 40px;
}

.text {}

.know-more__features {
    margin-bottom: 32px;
}

.know-more__col {
    max-width: 187px;
    flex: 1 1;
    flex: 33.333%;
}

.know-more__col__block-title {
    display: flex;
    column-gap: 7px;
}

.know-more__col--people {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;

    color: #C4E4EA;
}

.know-more__col__block-subtitle {
    margin-bottom: 15px;
}

.know-more__col__block-text {}


.know-more__image {
    max-width: 700px;
    margin-left: 60px;
}

.know-more__grid {
    display: flex;
    width: 246px;
}

.know-more__image--image1 {
    margin-top: 110px;
    margin-right: 60px;
}

.know-more__image--image1 img {
    width: 100%;

}

.know-more__image--image2 {
    margin-bottom: 91px;

}

.know-more__image--image2 img {
    width: 100%;

}

/* features */

/* ======= */
.serving__desc {
    margin-bottom: 81px;
}

.serving__desc-row {
    display: flex;
    column-gap: 58px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.serving__desc-title {
    width: 660px;
}

.title {}

.serving__desc-text {
    width: 549px;
}

.text {}

/* ============ */
.serving__body {
    max-width: 1280px;

}

.serving__grid {
    margin-top: 65px;
    padding: 64px 62px;
    background-color: #151217;
}

.serving__grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 229px);
    row-gap: 50px;
    column-gap: 128px;

}

.serving__grid-col {
    /* padding: 64px 128px; */
    display: flex;
    flex-direction: column;
    flex: 0 1;

}

.serving__grid-icon {
    margin-bottom: 24px;
}

.serving__grid-title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;


    color: #FFFFFF;
    margin-bottom: 12px;
}

.serving__grid-text {
    width: 299px;
}

/* =======menu===== */
.menu {}

.menu__body {
    margin-top: 160px;
}

.menu__name {}

.general-name {}

.name {}

.line {}

.menu__desc {}

.menu__desc-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 50%;
}

.menu__desc-title {
    max-width: 660px;
}

.popular__picks {
    margin-top: 32px;

    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;

    color: #C4E4EA;
}

.title {}

.menu__desc-text {
    max-width: 549px;
}

.text {}

.menu__item {
    margin-top: 83px;
}

.menu__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px 32px;
}

.menu__col {
    max-width: 405px;

}

.menu__img {}

.menu__img img {
    width: 100%;
    height: auto;
}

.menu__col--desc {
    background-color: var(--card-color);
    display: flex;
    justify-content: space-between;
    padding: 24px 32px 18px;
}

.menu__col--desc {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--title-color);
    opacity: 0.87;

}

.menu__title {}

.menu__price {
    font-weight: 500;
}

.menu__btn {
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* quate */

.quote {}

.quate__container {
    max-width: 1599px;
    margin: 0 auto;
}

.quote__body {
    margin-top: 165px;
}

.quote__row {
    display: flex;
    /* justify-content: space-between; */
}

.quote__desc {
    width: 674px;
    max-height: 668px;
    padding: 130px 78px 0px 160px;

    background-color: var(--card-color);
}

.quote__title {
    font-family: var(--font-quote);
    font-size: 72px;
    line-height: 128%;

    color: var(--title-color);
}

.quote__text {
    width: 436px;
    font-family: 'Playfair Display';
    font-weight: var(--font-bold);
    font-size: 32px;
    line-height: 150%;

    color: var(--title-color);

    opacity: 0.87;
}

.quote__man {
    margin-top: 71px;
    margin-bottom: 84px;
}

.quete__man__row {
    display: flex;
    column-gap: 256px;
}

.man {}

.man__desc {}

.name__man {
    font-weight: var(--font-bold);
    font-size: 16px;
    line-height: 150%;

    color: var(--title-color);

    opacity: 0.87;
    margin-bottom: 4px;
}

.name__geo {
    font-family: 'Poppins';
    font-weight: var(--font-bold);
    font-size: 12px;
    line-height: 133%;

    color: var(--title-color);

    opacity: 0.6;
    width: 133px;
}

.quate__man__image {}

.quate__line__row{
    display: flex;
    margin-top: 22px;
    /* margin-top: 22px; */
    /* margin-bottom: 84px; */
}
.quate__line {
    border: 1px solid #d34646;
    width: 437px;
    opacity: 0.20;
}

.quate__line__white {
    width: 49px;
    border: 2px solid #FFFFFF;
}

.quote__video {
    position: relative;
    max-width: 925px;
}
.quote__play{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform  1s ease-in;
}
.quote__play:hover{
    transform: rotate(360deg);
    background-color:rgb(124, 106, 6);
    border-radius: 50%;
}

.quote__video img {
    /* max-width: 100%; */

}